<!-- this is the html that is applied to all other views so that we can have a header/footer without partials-->

{% load static %}
<!-- boiler plate html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tech Scavvy</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <nav>
            <div>
                <ul>
                    <!-- this is the top of the screen title -->
                    <li><a href="/">&nbsp;&nbsp;Tech Scavvy</a></li>
                </ul>
                <ul>
                    <!-- nav bar items -->
                    <li><a href="{% url 'about' %}">About</a></li>
                    {% if user.is_authenticated %}
                    <!--  if the user is logged in they can see the log out -->
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                    <li><a href="{% url 'players_create' %}">Create your player</a></li>
                    <!-- if they're a leader, they can create a team. otherwise they have to choose a team -->
                    {% if player.leader%}
                    <li><a href="{% url 'teams_create' %}">Create your team</a></li>
                    {% elif !player.leader %}
                    <li><a href="{% url 'teams_index' %}">View Teams</a></li>
                    {% endif %}
                    {% else %}
                    <!-- otherwise they get a choice of sign up or log in -->
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>