{% extends 'base.html' %}
{% block content %}

<h3>{{ player.team}}'s Players</h3>

    {{player.name}}



    <!-- {% if team.count %}
    <h5>{{player.name}} you already belong to team {{player.team}}</h5>
    {% else %} -->
    <h3>Available Teams</h3>
    {% for team in players.team %}
    <h3>Pick a team to join</h3>
    <form action="{% url 'assoc_team' player.id team.id %}" method="post">
        {% csrf_token %}
        {{ opposite_team }}
                <button type="submit" class="btn">Add</button>
            </form>

 
    {% endfor %}
    
 
    <!-- {% endif %} -->


{% endblock %}