{% extends 'base.html' %}
{% block content %}


<h1>TECH SCAVVY</h1>
<h2>Instructions</h2>
<p>You and your team have to work together to complete all 5 tasks before the other team in order to win</p>>
<p>Once a task is completed, you must upload an image proving completion so the judge can approve you for the next task. This will be done by the leader of the group.
</p>
<p>Once you have been approved by the judge, you will be given the next task</p>
<p>First team to successfully complete all 5 tasks wins!!</p>


{% endblock %}